<form action="/favourites" method="POST">
  <button
    type="submit"
    class="w-full bg-[#FF385C] hover:bg-[#d50027] text-white font-semibold py-3.5 rounded-lg text-[16px] transition-colors"
  >
    Add to Favorites
  </button>
  <input type="hidden" name="id" value="<%= home.id %>" />
</form>
