<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MY bookings</title>
    <link href="/output.css" rel="stylesheet" />
  </head>
  <body>
    <%- include('../partials/nav')%>
    <h1 class="font-bold text-3xl py-5 text-red-600">My bookings</h1>
    <p class="text-lg">Bookings will appear here</p>
  </body>
</html>
